body {
  font-family: 'Baloo Chettan 2', sans-serif, Arial, Helvetica;
  background-color: cadetblue;
}

// Title //

.title {
  text-align: center;
  h1 {
    font-size: 80px;
  }
}

// Player's input //

.name-container {
  display: flex;
  flex-flow: column;
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  input {
    margin-top: 10px;
  }
  div {
    display: flex;
  }
  span {
    margin-top: 10px;
    text-align: center;
    flex-basis: 10%;
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  a {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    &:hover {
      color: white;
    }
  }
}

// Game //

.game-container {
  display: none;
  height: 0px;
  opacity: 0;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  transition: height 350ms ease, opacity 350ms ease;
}

.game-container.visible-hover {
  display: block;
  height: auto;
  opacity: 0.5;
}

.game-container.visible {
  display: block;
  height: auto;
  opacity: 1;
}

.row {
  display: flex;
}

.pos {
  background-color: gray;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  display: block;
  height: 80px;
  width: 80px;
  border: 0.5px solid black;
  &:hover {
    cursor: pointer;
    background-color: gainsboro;
    transition: ease 1s;
  }
}