body {
  font-family: 'Baloo Chettan 2', sans-serif, Arial, Helvetica;
  background-color: cadetblue;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 80px;
}

@media only screen and (max-width: 600px) {
  .title {
    width: 100%;
  }
  .title h1 {
    font-size: 18vw;
  }
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  -webkit-transition: opacity 0.5s ease, margin 1s ease, max-width 1s ease, -webkit-flex-basis 1s ease;
  transition: opacity 0.5s ease, margin 1s ease, max-width 1s ease, -webkit-flex-basis 1s ease;
  transition: opacity 0.5s ease, margin 1s ease, flex-basis 1s ease, max-width 1s ease;
  transition: opacity 0.5s ease, margin 1s ease, flex-basis 1s ease, max-width 1s ease, -webkit-flex-basis 1s ease, -ms-flex-preferred-size 1s ease;
}

.input-container input {
  margin-top: 10px;
}

.input-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-container #play {
  width: 50%;
  pointer-events: none;
  opacity: 0.5;
  height: 2.5em;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  -webkit-transition: height 1s ease, opacity 0.5s ease, margin 1s ease;
  transition: height 1s ease, opacity 0.5s ease, margin 1s ease;
}

.input-container #play:hover {
  color: white;
}

.name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-container span {
  margin-top: 10px;
  text-align: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 1.5em;
}

.player-container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.player-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.player-container div span {
  margin-top: 0;
}

.player-1-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.player-2-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.game-container {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  opacity: 0;
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: opacity 0.5s ease, margin 1s ease;
  transition: opacity 0.5s ease, margin 1s ease;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pos {
  display: block;
  height: 80px;
  width: 80px;
  font-size: 5em;
  text-align: center;
  max-width: 33%;
  max-height: 33%;
  border: 0.5px solid black;
  -webkit-transition: height 1s ease, width 1s ease;
  transition: height 1s ease, width 1s ease;
}

.pos:hover {
  cursor: pointer;
  background-color: gainsboro;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.pos-1 {
  border-top: none;
  border-left: none;
}

.pos-2 {
  border-top: none;
}

.pos-3 {
  border-right: none;
  border-top: none;
}

.pos-4 {
  border-left: none;
}

.pos-6 {
  border-right: none;
}

.pos-7 {
  border-bottom: none;
  border-left: none;
}

.pos-8 {
  border-bottom: none;
}

.pos-9 {
  border-bottom: none;
  border-right: none;
}

.winner {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.winner-field {
  font-size: 3em;
  text-align: center;
}

#play-again {
  margin: 0 auto;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 20%;
  color: white;
}
/*# sourceMappingURL=style.css.map */